doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Aurelia vs Ember

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Aurelia vs Ember
        h4 (and a little about Angular)

      section
        h2 Aurelia
        h3.bullet Features
        ul
          li Actually has made it to a version 1.0 release
          li TypeScript and ES6 compatibility
          li Not as opinionated as other frameworks (cough cough Angular)
          li Web Components are natively supported (and used widely within the framework)

      section
        h2 Aurelia
        h3.bullet Disadvantages
        ul
          li Not as much mindshare as other frameworks (Ember and Angular are both better known) :(
          li Learning curve to fully get either or both ES6 and TypeScript
          li Lack of strong opinion means more design decisions (this is both good and bad)


      section
        h2 Ember
        h3.bullet Features
        ul
          li One of the most mature modern MVVM frameworks 
          li TypeScript and ES6 compatibility
          li Used by lots of very big projects (i.e. Discourse)
          li Age and API stability mean that there are lots of good examples out there

      section
        h2 Ember
        h3.bullet Disadvantages
        ul
          li Very opinionated, which removes some freedom in design
          li Only supports ES5 by default (no TypeScript or ES6 transpiliation by default)
          li Seems to have been losing momentum and mindshare as Angular and other newer frameworks come to light

      section
        h2 Angular
        h3.bullet Features
        ul
          li One of the most popular MVVM frameworks
          li TypeScript and ES6 compatibility
          li Used by lots of very big projects

      section
        h2 Angular
        h3.bullet Disadvantages
        ul
          li Angular 1 vs Angular 2 split
          li Project is very much in flux (at one point Angular 2 wasn't going to have any compatibility with 1)
          li Angular 2 still hasn't been released

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 My Recommendation
        h3 Lets go with Aurelia

      section
        h2.bullet Why?
        ol
          li API stability (version 1.0 is out)
          li <strong>Angular 2 still hasn't been released</strong>
          li Created by Rob Eisenberg, who has a long history of creating good Front End Frameworks


      section
        h2 <a href="http://aurelia.io/docs.html#/aurelia/framework/latest/doc/article/what-is-aurelia">Code Samples</a>
        



    script(src='build/build.js')