doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Dependency Injection with Autofac

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-hash='home')
        h1 Dependency Injection with Autofac
        h3 (and a comparison to StructureMap)

      section(data-bespoke-hash='intro')
        h2 Why do we care?
        h3.bullet Several key reasons
        ul
          li Improved Testability (especially for unit tests)
          li Easier refactoring
          li Enables more configuration with less hardcoding
      //I'm not sure if I need this section
      //section(data-bespoke-hash='co_contra-variance')
        h2 Covariance and Contravariance in Generics
        h3.bullet <a href="https://msdn.microsoft.com/en-us/library/dd799517(v=vs.110).aspx">What?</a>
        ul
          li Covariant means you can use a more derived type than specified in the generic type arg
          li Contravariant means you can use a more generic (less derived) type than specified
          li Invariant means you must use the type specified (generally only for value types) 

      section(data-bespoke-hash='pros')
        h2 <a href="http://autofac.org/">Autofac</a>
        h3.bullet Pros
        ul
          li Can scan assembly to discover all injectable dependencies
          li Has seperate nuget packages for Web API 2, MVC, etc.
          li Ties into standard ASP.NET pipeline (i.e. Request Filter's in WebAPI)

      section(data-bespoke-hash='cons')
        h2 <a href="http://autofac.org/">Autofac</a>
        h3.bullet Cons
        ul
          li The <a href="http://structuremap.github.io/">StructureMap documentation</a> is <strong>much</strong> more polished
          li Specifically for <a href="http://autofac.readthedocs.org/en/latest/faq/per-request-scope.html">unit-testing some gymnastics</a> may be required surrounding dependency lifetimes

      section(data-bespoke-hash='code-sample')
        h2 Code Example
        p from <a href="http://autofac.org/">autofac.org</a>
        pre.language-csharp
          code.language-csharp.
              private ITaskRepository _repository;
              private ILogger _logger;
              //Autofac will auto find registered values and pass in
              public TaskController(
                ITaskRepository repository,
                ILogger logger)
              {
                this._repository = repository;
                this._logger = logger;
              }

      section(data-bespoke-hash='end')
        h2 Thank You
        h3.bullet References
          ul
            li <a href="http://www.autofac.org">Autofac.org</a>
            li <a href="http://structuremap.github.io">StructureMap</a>
            li <a href="http://stackoverflow.com/questions/871405/why-do-i-need-an-ioc-container-as-opposed-to-straightforward-di-code">Lots of discussion on .net IoC and DI</a>


    script(src='build/build.js')