fdoctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Mocking and Unit Testing

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Unit Testing and Mocking

      section
        h1 Unit Testing

      section
        h2.bullet Why?
        ul
          li Commit code that you can reasonably expect doesn't have any regressions (if the code base has good test coverage)
          li Makes it easier to ensure that the specifications are followed exactly, as the spec will be implemented in both code and test
          li "Imperfect tests, run frequently, are much better than perfect tests that are never written at all" - Martin Fowler

      section
        h2.bullet If it's so good, why don't we do it already?
        ul
          li Developing tests effectively doubles the effort of implementing any feature (this means velociy tends to plummet)
          li Also requires a cultural shift to be a test-centric development team

      section
        h2.bullet Unit Testing Frameworks
        ol
          li NUnit
          li xUnit

      section
        h2.bullet NUnit
        ul
          li Originally ported from Java's ubiquitous JUnit testing framework
          li NUnit 3.0 is largely a re-write of the code base
          li Very widely used, probably the most popular unit testing framework for .NET
          li Integrates well into VS and has a host of other integrations (even R#)

      section
        h2 More ABout Nunit....
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2.bullet xUnit
        ul
          li Project started as a response to the Java-ism's present within older NUnit
          li Attempts to making unit testing as a whole more understandable (Facts and Theories instead of TestFixtures and Tests)
          li Doesn't have as much mindshare, and integrations appear to be somewhat lacking although integrations we care about are present

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')